body{
    background-color: rgb(131, 211, 167);
    color:rgb(255, 255, 255);
    font: 15pt normal times;
}
header{
    text-align: center;

}
section{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.226);
    padding: 20px;
    margin: auto;


}
footer{
    text-align: center;

}

select#sel{
    width: 200px;
}